@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@700&display=swap');

*{
    padding: 0px;
    margin:0px;
    font-family: 'Work Sans', sans-serif;
   
}
.container{
    background-color: rgba(255, 144, 14, 0.1)
}
.navbar{
    display: flex;
    justify-content: space-between;
}
.brand-name {
    width: 302px;
    height:53px;
    white-space: nowrap;
    margin:50px 10px 120px 228px
}
.nav-items{
    margin:63px 200px 150px 150px
}
ul{
    display: flex;
    justify-content: center;
    gap: 60px;
}
ul li {
    list-style-type:none;
}
ul li a {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #424242;
    padding:10px 15px;
    border-radius: 5px;
}
ul li a:hover{
    background-color: aqua;
}
.company-overview{
    width: 862px;
    height:225px;
    margin:100px 529px 25px 529px;
}
.brand{
    font-weight: 700px;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
    color: #131313
}
.details{
    width: 868px;
    height: 52px;
}
.details>p{
    font-weight: 400px;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}
.p{
    text-align: center;
}
.brand-ar{
    font-weight: 700px;
   font-size: 64px;
   line-height: 75px;
   text-align: center;
   color: #131313
}
.btn{
    width:180px;
    height:64px;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    margin:15px 870px;
    background: #FF900E;
    border-radius: 8px;
}
.banner{
    width: 1440px;
    height:700px;
    margin: 50px 240px 45px 240px;
}
.main{
    display: flex;
}

.teams{
     width:684px;
     height:684px ;
     display: grid;
     grid-template-columns: repeat(2,1fr);
     gap:10px;
     justify-content: center;
     align-items: center;
     margin: 30px 30px 20px 350px;
}
.teams img{
    width: 342px;
    height:342px;
}
.quick{
   font-weight: 500px;
   font-size: 45px;
   line-height: 53px;
   color: #727272; 
}
.of-our{
    font-weight: 500px;
   font-size: 45px;
   line-height: 53px;
   color:#131313 
}
.features{
    font-weight: 500px;
    font-size: 45px;
    line-height: 53px;
    color: #FF900E; 
}
.fe-details{
    color: #727272; 
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-top:24px;
}
.features-list{
    width:537px;
    height:304px;
    margin:287px 320px 363px 54px
}
.features-btn{
   width:180px;
   height:64px;
   color:#FFFFFF;
   background: #FF900E;
   border-radius: 8px;
   margin-top:32px
}
.amazing-features{
    width:1440px;
    height: 1059px;
    margin: 10px 54px 207px 240px;
    display: flex;
}
.amazing-feature{
    width:586px;
    height:982px;   
}
.feature-1{
    width:514px;
    height:184px
}
.feature-1>p{
    font-weight: 400;
    font-size: 16px;
   line-height: 20px; 
   color: #727272;
}
.feature{
    width: 514px;
    height:111px;
    background: #FFFFFF;
     box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
     border-radius: 8px;
     padding:10px;
    margin-bottom:50px;
}
.feature>p{
    font-weight: 400;
    font-size: 16px;
   line-height: 20px; 
   color: #727272;
}