@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@700&display=swap');

*{
    padding: 0px;
    margin:0px;
    font-family: 'Work Sans', sans-serif;
   
}
.container{
    background-color: rgba(255, 144, 14, 0.1)
}
.navbar{
    display: flex;
    justify-content: space-between;
}
.brand-name {
    width: 302px;
    height:53px;
    white-space: nowrap;
    margin:50px 10px 120px 228px
}
.nav-items{
    margin:63px 200px 150px 150px
}
ul{
    display: flex;
    justify-content: center;
    gap: 60px;
}
ul li {
    list-style-type:none;
}
ul li a {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #424242;
    padding:10px 15px;
    border-radius: 5px;
}
ul li a:hover{
    background-color: aqua;
}
