@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@700&display=swap');

*{
    padding: 0px;
    margin:0px;
    font-family: 'Work Sans', sans-serif;
   
}
.container{
    background-color: rgba(255, 144, 14, 0.1)
}
.navbar{
    display: flex;
    justify-content: space-between;
}
.brand-name {
    width: 302px;
    height:53px;
    white-space: nowrap;
    margin:50px 10px 120px 228px
}
.nav-items{
    margin:63px 200px 150px 150px
}
ul{
    display: flex;
    justify-content: center;
    gap: 60px;
}
ul li {
    list-style-type:none;
}
ul li a {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #424242;
    padding:10px 15px;
    border-radius: 5px;
}
ul li a:hover{
    background-color: aqua;
}
.company-overview{
    width: 862px;
    height:225px;
    margin:100px 529px 25px 529px;
}
.brand{
    font-weight: 700px;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
    color: #131313
}
.details{
    width: 868px;
    height: 52px;
}
.details>p{
    font-weight: 400px;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}
.p{
    text-align: center;
}
.brand-ar{
    font-weight: 700px;
   font-size: 64px;
   line-height: 75px;
   text-align: center;
   color: #131313
}
.btn{
    width:180px;
    height:64px;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    margin:15px 870px;
    background: #FF900E;
    border-radius: 8px;
}
.banner{
    width: 1440px;
    height:700px;
    margin: 50px 240px 45px 240px;
}
.main{
    display: flex;
}

.teams{
     width:684px;
     height:684px ;
     display: grid;
     grid-template-columns: repeat(2,1fr);
     gap:10px;
     justify-content: center;
     align-items: center;
     margin: 30px 30px 20px 350px;
}
.teams img{
    width: 342px;
    height:342px;
}
.quick{
   font-weight: 500px;
   font-size: 45px;
   line-height: 53px;
   color: #727272; 
}
.of-our{
    font-weight: 500px;
   font-size: 45px;
   line-height: 53px;
   color:#131313 
}
.features{
    font-weight: 500px;
    font-size: 45px;
    line-height: 53px;
    color: #FF900E; 
}
.fe-details{
    color: #727272; 
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-top:24px;
}
.features-list{
    width:537px;
    height:304px;
    margin:287px 320px 363px 54px
}
.features-btn{
   width:180px;
   height:64px;
   color:#FFFFFF;
   background: #FF900E;
   border-radius: 8px;
   margin-top:32px
}
.amazing-features{
    width:1440px;
    height: 1059px;
    margin: 10px 54px 207px 240px;
    display: flex;
}
.amazing-feature{
    width:586px;
    height:982px;   
}
.feature-1{
    width:514px;
    height:184px
}
.feature-1>p{
    font-weight: 400;
    font-size: 16px;
   line-height: 20px; 
   color: #727272;
}
.feature{
    width: 514px;
    height:111px;
    background: #FFFFFF;
     box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
     border-radius: 8px;
     padding:10px;
    margin-bottom:50px;
}
.feature>p{
    font-weight: 400;
    font-size: 16px;
   line-height: 20px; 
   color: #727272;
}
.enjoy{
    border-left: 3px solid #FF900E;
    padding:10px;
}
.collegues-img>img{
    width:708px;
    height:782px;
    
}
.experience{
    width:342px;
    height:200px;
    background-color: #FF900E;
    border-radius: 5px;
    position:relative;
    top:-90px;
    right: 25px;
   
}
.years{
    display: inline-block;
    font-weight: 700px;
    font-size: 65px;
    color:#FFFFFF;
    line-height: 70px;
     margin-top:30px;
     margin-left:30px
}
.h4{
    text-align: center;
    font-weight: 500;
   font-size: 25px;
   line-height: 40px;
   text-align: center;
    color: #FFFFFF;
}
.facts{
    margin:130px 1422px 100px 240px;
}
.facts>h1{
    font-weight: 700;
    font-size: 45px;
   line-height: 53px;
    color: #131313;
    white-space: nowrap;
}
.fact-details{
    width:542px;
    height:52px;
    font-style: normal;
     font-weight: 400;
     font-size: 16px;
    line-height: 26px;     
     color: #727272;
    white-space: wrap;
}
.achivement{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin:100px 290px 180px 290px;
}
.award{
   width:241px;
   height:241px;
   margin-right:124px;
   transition: transform 3s ease-in 2s;
}
.award-details{
    margin:45.92px 38.92px 59.69px 33.92px;
    text-align:center;
    white-space: nowrap;
    font-weight: 600;
    font-size: 20px;
    line-height: 43px;
     color: #727272;
}
.project{
    width:241px;
    height:241px;
    margin-right:124px;
    transition: transform 3s;
    
}
.client{
    width:241px;
    height:241px;
    transition: transform 3s ease-in 2s;
    margin-right:124px
}
.send-email{
    width:241px;
    height:241px;
    margin-right:124px;
    transition: transform 3s;
}
.award:hover{
    transform:rotate(360deg);
}   
.project:hover{
         transform:rotate(360deg);
}
.client:hover{
         transform:rotate(360deg);
}
    
.send-email:hover{
    
    transform:rotate(360deg);
}
.sponsars{
    width:542px;
    height:129px;
    margin:180px 689px 50px 689px
}
.sponsars>h1{
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    font-size: 45px;
    line-height: 53px;
     color: #131313;
}
.sponsars>p{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #727272;
       
}
.sponsor-name{
    display:grid;
    grid-template-columns: repeat(5,1fr);
    margin-left:240px;
    margin-bottom: 130px;
 
}
.amazon{
    margin-top:10px
}
.footer{
    width:100%;
    height:250px;
    background-color: #131313;
}
.subscribe{
  text-align: center;
  padding: 25px;
  color:#FF900E; 
}
.in{
    width: 350px;
    height:50px;
    border-radius: 5px;
    margin-top:20px;
    margin-bottom: 50px;
    margin-left:780px;
    text-align: center;
    
}

